.c9revisions/
.c9/
.node-xml*

akera/*.log
akera/sports.json
akera/akera.lic

appserver/*.log

rest/*.log
rest/ABL.xml
rest/build/
rest/Consultingwerk/
rest/DB/
rest/OERA/
rest/Setup/
rest/src/

express/config.json
express/process.json
express/node_modules

chat/config.json
chat/process.json
chat/node_modules/

sports/server/config.json
sports/server/process.json
sports/server/node_modules

koa/config.json
koa/process.json
koa/node_modules

