<!DOCTYPE html>
<html>
<head>
    <title>Node Chat</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/standard.css" />

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/soc/socket.io.js"></script>

    <script type="text/javascript" src="/js/client.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid block">
            <div class="span10">
                <input type="text" id="nickname" />
            </div>
            <div class="span2">
                <button id="connect">Connect</button>
            </div>
        </div>
        <div class="row-fluid block">
            <div id="main" class="span12"></div>
        </div>
        <div class="row-fluid noshow block">
            <div class="span10">
                <textarea id="message" class="span10"></textarea>
            </div>
            <div class="span2">
                <button id="send">Send</button>
            </div>
        </div>
    </div>
</body>
</html>
